body {
  background-image: url(../images/background-texture.jpg);
  height: 100vh;
}

iframe {
  border-radius: 30px;
}

img.img-fluid {
  margin-top: 10vh;
}

.rounded-corners {
  border-radius: 10px;
  width: 420px;
  overflow: hidden;
}

#social-logo {
  color: rgb(246, 245, 245);
}

#social-logo:hover {
  color: orange;
}

.cta {
  color: rgb(248, 139, 13);
  font-family: "Noto Sans Bassa Vah", sans-serif;
  margin-top: 5vh;
  font-size: 3vw;
  flex-wrap: nowrap;
}

.spotify-cta {
  justify-content: right;
}
