body {
  background-image: url(../images/background-texture.jpg);
  height: 100vh;
}

footer {
  background-color: black;
}

iframe {
  border-radius: 30px;
}

.rounded-corners {
  border-radius: 10px;
  width: 420px;
  overflow: hidden;
}
