body {
  background-image: url(../images/background-texture.jpg);
  height: 100vh;
}

iframe {
  border-radius: 30px;
}

img.img-fluid {
  margin-top: 10vh;
}

.rounded-corners {
  border-radius: 10px;
  width: 420px;
  overflow: hidden;
}

#social-logo {
  color: rgb(246, 245, 245);
}

.cta {
  color: white;
}
